@import "./modules/base.scss";
@import "./modules/common.scss";

body{
    .banner{
        height: 66vw;
        background-image: url(../images/banner-about-us.jpg);
        background-position: center;
        background-attachment:fixed;
        background-size: contain;
        overflow: hidden;
        color: #fff;
        padding: 0 4vw;

        .text{
            padding-top: 24vw;

            h3{
                font-size: 22px;
                font-weight: 400;
                text-align: center;
            }

            p{
                padding-top: 10px;
                font-size: 12px;
                text-align: center;
            }
        }
    }

    .intr{
        padding-bottom: 6vw;

        h2{
            padding: 6vw;
            text-align: center;
            font-size: 22px;
        }

        p{
            font-size: 13px;
            color: #5A6169;
            line-height: 28px;
            text-indent: 2em;
            padding: 0 12px;
        }
    }

    .contact{
        background-color: #f4f5f6;
        padding: 6vw 12px;

        h2{
            font-size: 22px;
            font-weight: 400;
            text-align: center;
            line-height: 100%;
            padding-bottom: 8vw;
        }

        .address{
            padding-top: 20px;
            
            p{
                color: #666;
                font-size: 13px;
                line-height: 26px;
            }
        }
    }
}