.header-pc{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 80px;

    &.fixed{
        // position: fixed;
        // background-color: #000;
        color: #fff;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

    .container{
        width: 1200px;
        margin: auto;
        height: 80px;

        .logo{
            float: left;
            height: 40px;
            margin-top: 20px;
            overflow: hidden;

            img{
                display: block;
                height: 100%;
                width: auto;
            }
            
            i{
                display: block;
                float: left;
                font-family: cursive;
                line-height: 40px;
                height: 40px;
                font-size: 50px;
                font-weight: bolder;
                border-right: 1px solid #1594d8;
                padding-right: 20px;

                span{
                    color: rgb(208, 48, 50);
                    padding: 0;
                }
            }

            .text{
                float: left;
                height: 50px;
                padding-left: 20px;

                h3{
                    font-size: 20px;
                }

                p{
                    font-size: 12px;
                    color: rgb(208, 48, 50);
                }
            }

        }

        .nav{
            float: right;

            li{
                float: left;

                a{
                    display: block;
                    height: 80px;
                    line-height: 80px;
                    margin-right: 40px;
                    color: #fff;
                }
            }
        }
    }
}

.footer{
    padding: 50px 0px;
    text-align: center;
    color: #42517c;
}

.header-mobile{

    .header{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 50px;
        z-index: 99;
        display: flex;
        padding: 0 20px;
        background-color: transparent;

        &.fixed{
            position: fixed;
            z-index: 99999;
            border-bottom: 1px solid hsla(0,0%,100%,.2);
            background-color: #090715;
        }

        .logo{
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;

            img{
                height: 24px;
                width: auto;
            }
        }

        .menu-icon{
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img{
                height: 24px;
                width: auto;
            }
        }
    }

    .nav{
        position: fixed;
        left: 0;
        top: 50px;
        right: 0;
        background-color: #090715;
        z-index: -2;
        opacity: 0;
        height: 0;
        transition: opacity 0.3s, height .56s cubic-bezier(0.52, 0.16, 0.24, 1) , z-index 0.3s;

        &.show{
            z-index: 9999;
            opacity: 1;
            height: calc(100vh - 50px);
        }

        ul{
            li{
                a{
                    display: block;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 12px;
                    border-bottom: 1px solid #333;
                    color: #fff;
                }
            }
        }
    }


}

.tline,.bline,.lline,.rline{
    position: relative;
}

.tline::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.bline::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.lline::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.rline::after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}